* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    margin: 0px;
    background-color: rgb(248, 248, 247);
}



/* encabezado listo*/

.header{ 
    width: 100%;
    height: 20vh;
    background-color: #fcb7af;
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
}

.headerTitle{
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    text-align: left;
    font-weight: bold;
    color: rgb(204, 55, 159); 
    align-items: flex-start;
}

.headerNav{
    width: 45%;
    font-size: 17px;
    align-items: flex-end;
    transition: transform 1s;
    padding-top: 30px;
}

.headerNav ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}

.headerNav ul li{
    display: inline-block;
    padding-right: 10px;
    
}

.headerNav ul li:hover{
    transform: scale(1.4);
} 












/* biografia bootstrap no influyo*/

.biografia{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
}

.biografiaTitle{
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    font-weight: normal;
    color: rgb(204, 55, 159) ; 
}

.biografiaDescripcion{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: black;
    display:inline-block;
    padding: 0px 15px;
}









/*video se cambiara la ubicacion*/

.video{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: transform 2s ;
}

.videoTitle{
    width: 50%;
    height: auto;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    font-weight: normal;
    color: rgb(204, 55, 159) ;
}

.videoAside{
    width: 50%;
    height: auto;
    padding: 0px 10px;
    margin-top: 20px;
    
}

.videoAside:hover{
    transform: scale(1.2);
}











/*pie sin cambios */

.footer{
    width: 100%;
    height: 10vh;
    text-align: center;
    background-color: #fcb7af;
    font-style: initial ;
    font-size: 20px;
    padding-top: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer img{
    height: 8vh;
    margin-left: 100px;
    padding-bottom: 10px;
}





















/*galeria no cambiar nada*/

.gridContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:repeat(2, 50%);
}

.gridItems{
    border: 5px solid white;
}

.img1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;  
}

.img2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    overflow: hidden;
}

.img3{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    overflow: hidden;
}

.img4{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    overflow: hidden;
}

.carrusel{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 500px;
}

.carruselItem{
    border: 5px solid white;
}











/*seccion, peliculas, deseas ver peli de emma?  lista*/

.emmaPelicula{
    width: 100%;
    height: 10vh;
    font-family: 'Abril Fatface', cursive;
    color: #fcb7af;
    text-align: center;
    font-size: 35px;
    padding-top: 90px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}






























@media screen and (max-width: 960px)  {


    /* encabezado */

    .header{
        display: flex;
        flex-flow: column nowrap;
        padding: 10px 30px;
        justify-content: space-between;
        align-items: center;
    }
    .headerNav{
        width: 100%;
        align-items: center;
        padding-top: 0px; 
        font-size: 20px;
        padding: 0px 10px;
    }

    
    .video{
        
        flex-flow: column nowrap;
        justify-content: center;
    }
    .videoTitle{
        width: 100%;
        padding: 0px; 
    }

}



@media screen and (max-width: 860px)  {

  
    /*video*/
    .videoAside{
        padding: 0px ;
        transform: scale(0.8);
    }

}
    
    

@media screen and (max-width: 650px)  {

    
    /* encabezado */

    .header{
      height: 15vh;
    }
    .headerTitle{
        font-size: 40px;
        text-align: center;
        align-items: center;
    }

    .headerNav{
        font-size: 15px;
        padding: 0px;
        width: 100%;
    }


    /* biografia*/

    .biografiaTitle{
        font-size: 30px; 
    }
    .biografiaDescripcion{
        font-size: 15px;
        line-height: 1;
        color: black;
        padding: 0px 5px;
    }


    /*video*/

    .videoTitle{
        font-size: 20px;
    }


    /*pie*/

    .footer{
        font-size: 15px;   
    }
}


/*QUIERES VER PELI DE EMMA*/

@media screen and (max-width: 600px){

    .emmaPelicula{
       
        font-size: 25px;
        padding-left: 20px;
        padding-right: 20px;        
    }
    
}


/*media grid galeria*/

@media screen and (max-width: 550px) {

    .gridItems{
        border: 3px solid white;
    }


}

/*media de header mobile*/

@media screen and (max-width: 480px){
    /* encabezado */

    
    .headerNav{
        font-size: 10px;
    }

    .headerTitle{
        
        font-size: 30px;
        
    }

    .headerNav ul{
        padding: 0px;
    }

    .headerNav ul li{
        padding: 0px 2px;
    }

    .footer{

        font-size: 10px;

    }

    .footer img{
        margin-left: 50px;
        
    }
    
}



















/*cartas

.cards{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}



.premioCard{
    background-color: cadetblue;
    width: 45%;
    height: 60%;
    color: blue;
    text-align: center;
    border: 3px solid black;
    border-radius: 50px;
    overflow: hidden;
    margin: 10px;
}

.img{
    width: 100%;
    height: 700px;
}

.premioCard h1{
    font-size: 1.875rem;
    margin-top: 19px;
    
}

.premioCard ul li{
    
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: black
}



.formularioTitle{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    font-weight: normal;
    color: rgb(223, 91, 183) ;
}

*/